<!doctype html>

<html> 
    <head>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <meta charset="utf-8"/>
    <script src="https://www.gstatic.com/firebasejs/4.2.0/firebase.js"></script>
    </head>

    <body id="creationBody">
        <h1> we have created your account </h1>
        <p> Your account have been created to the name of click the button to return to the menue and login </p>

        <form method="POST" action="/Creation"> 
        
        <a href="/Menue">Menue</a>

        </form> 
    </body>
</html>